* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: cursive;
  list-style: none;
  text-align: center;
}
:root {
  --main-dark-blue: rgb(37, 74, 129);
  --header-dark-blue: rgba(12, 4, 131, 0.9);
  --main-background-light-blue: rgb(160, 179, 219);
  --input-background-light-blue: rgb(204, 217, 252);
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(0, 0, 0);
  --icons-color: rgb(228, 0, 0);
}
.App {
  background-color: var(--main-background-light-blue);
  min-height: 100vh;
  height: 100%;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 88vh;
}
.student-manager-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  background-color: var(--header-dark-blue);
}
.logo a {
  margin-left: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white-color);
}
.school-icon {
  color: var(--icons-color);
  font-size: 30px;
}
.navbar-elements {
  margin-right: 55px;
  font-size: 20px;
  display: flex;
  gap: 40px;
}
.navbar-elements a {
  color: var(--white-color);
}
.navbar-elements a:hover {
  border-bottom: 2px solid var(--white-color);
  padding-bottom: 3px;
}
.home-page-title {
  font-size: 35px;
  color: var(--icons-color);
}
.student-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--black-color);
  border-radius: 5px;
  padding: 45px;
  margin: 0;
  gap: 15px;
  background-color: var(--main-dark-blue);
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin: 0;
}
input {
  height: 27px;
  width: 240px;
  background-color: var(--input-background-light-blue);
  padding-left: 10px;
  border-radius: 20px;
}
.error-text {
  color: var(--icons-color);
  font-size: 13px;
  margin: 0;
}
.submit-button {
  height: 25px;
  width: 100px;
  background-color: rgba(11, 138, 0, 0.952);
  border: none;
  cursor: pointer;
  transition: 0.2s;
  color: var(--white-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.submit-button:hover {
  background-color: rgb(94, 233, 1);
  color: var(--black-color);
}
.student-list-table {
  border-collapse: collapse;
  color: var(--white-color);
}
.student-head {
  max-width: 220px;
  background-color: var(--main-dark-blue);
}
.table-head th {
  border: 2px solid var(--black-color);
  width: 220px;
}
.student-row {
  position: relative;
}
.student-info {
  border: 2px solid var(--black-color);
  padding: 5px;
  max-width: 220px;
  height: auto;
  overflow: hidden;
  word-wrap: break-word;
  background-color: var(--main-dark-blue);
}
.trash-icon {
  font-size: 22px;
  color: var(--icons-color);
}
.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: -24px;
}
.not-found-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5vh;
}
